@font-face {
    font-family: 'Computer Modern Serif';
    src: url('../fonts/cmunrm.woff') format('woff'),
         url('../fonts/cmunrm.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Computer Modern Serif';
    src: url('../fonts/cmunbx.woff') format('woff'),
         url('../fonts/cmunbx.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Computer Modern Serif';
    src: url('../fonts/cmunti.woff') format('woff'),
         url('../fonts/cmunti.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Computer Modern Serif';
    src: url('../fonts/cmunbi.woff') format('woff'),
         url('../fonts/cmunbi.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('../fonts/JetBrainsMono-Regular.woff2') format('woff2'),
         url('../fonts/JetBrainsMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('../fonts/JetBrainsMono-Italic.woff2') format('woff2'),
         url('../fonts/JetBrainsMono-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('../fonts/JetBrainsMono-Bold.woff2') format('woff2'),
         url('../fonts/JetBrainsMono-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono Bold';
    src: url('../fonts/JetBrainsMono-Bold.woff2') format('woff2'),
         url('../fonts/JetBrainsMono-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('../fonts/JetBrainsMono-BoldItalic.woff2') format('woff2'),
         url('../fonts/JetBrainsMono-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

$font-family = 'Computer Modern Serif', PingFang SC, Arial;
$monospace = 'JetBrains Mono', monospace;
$title-font = 'JetBrains Mono Bold';
