.highlight
    color: #ffffff
    background: #212121

    .code
        .comment,
        .quote
            color: #4a4a4a
        
        .keyword,
        .built_in,
        .builtin_name
            color: #c792ea
        
        .number,
        .constant,
        .params
            color: #f78c6c

        .variable
            color: #f07178

        .regexp
            color: #89ddff

        .string,
        .literal,
        .symbol
            color: #c3e88d

        .type
            color: #b2ccd6

        .title,
        .class
            color: #ffcb6b
        
        .decorator,
        .meta,
        .function
            color: #82aaff

        .link
            text-decoration: underline